<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NatureMarkSystems</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
</head>
<body>

    <header>
        <div class="header_content">
            <a href="{{url_for('index')}}">
              <img src="{{url_for('static', filename='./assets/LogoGears.png')}}" alt="logo" />
              <h2>NatureMark Systems</h2>
            </a>
    
            <nav class="nav">
              <ul class="nav_list">
                <li class="nav_item">
                  <a class="nav_link" href="{{url_for('index')}}">Registration</a>
                </li>
                <li class="nav_item">
                  <a class="nav_link" href="{{ url_for('features')}}">Features</a>
                </li>
                <li class="nav_item">
                  <a class="nav_link" href="https://naturemarksystems.com/">Back to Main</a>
                </li>
              </ul>
            </nav>
    
            <div class="hamburger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
    </header>
    

    <main class="upload-main">
        <div class="uploadcontainer">
            <h1>Data Analysis</h1>
            <button id="openPopupBtn" class="popup-button">File Preview</button>
                    <div id="popup" class="popup">
                        <div class="popup-content">
                            <span id="closePopupBtn" class="close">&times;</span>
                            <h2>Instructions for Uploading Your Data File</h2>
                            <p>Before uploading your file, please ensure it meets the following criteria to ensure a smooth and efficient processing experience:</p>
                            <ul>
                                <li><strong>Required Data Columns:</strong> Your data should be organized into the following columns in the specified order:
                                    <ul>
                                        <li><strong>Location:</strong> The specific location where the data was collected.</li>
                                        <li><strong>Date:</strong> The date when the data was collected (format: DD-MM-YYYY).</li>
                                        <li><strong>Scientific Name:</strong> The scientific name of the species observed.</li>
                                        <li><strong>Height:</strong> The height of the plant or tree measured (in meters).</li>
                                        <li><strong>Width:</strong> The width of the plant or tree at its widest point (in meters).</li>
                                        <li><strong>Diameter:</strong> The diameter of the stem or trunk (in centimeters).</li>
                                        <li><strong>Carbon Seq:</strong> The amount of carbon sequestration (in kilograms or appropriate unit).</li>
                                        <li><strong>Latitude:</strong> The latitude of the location where the data was collected.</li>
                                        <li><strong>Longitude:</strong> The longitude of the location where the data was collected.</li>
                                    </ul>
                                </li>
                                <li><strong>File Format:</strong> The data must be exported and uploaded as a .csv (Comma Separated Values) file. Ensure your file has the extension <code>.csv</code> to be accepted by our system.</li>
                                <li><strong>File Template:</strong> To help you format your data correctly, we have provided a downloadable template. Please use this template to ensure that your data meets our requirements.  <a href="{{ url_for('static', filename='Template.xltx') }}" target="_blank" download="Template.xltx">Download Template Here</a></li>
                            </ul>
                        </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        <label for="fileInput" class="file-label">Choose File</label>
                        <input type="file" id="fileInput" name="fileUpload" class="file-input">
                    <div class="analysis-options">
                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Average Tree Height">
                        <label>
                            <h5>Average Tree Height</h5>
                        </label>
                        </div>

                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Average Tree Width">
                        <label>
                            <h5>Average Tree Width</h5>
                        </label>
                        </div>

                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Diversity Map">
                        <label> 
                            <h5>Diversity Map</h5>
                        </label>
                        </div>

                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Distribution of Trees">
                        <label> 
                            <h5>Distribution of Trees</h5>
                        </label>
                        </div>

                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Heat Map">
                        <label> 
                            <h5>Heat Map</h5>
                        </label>
                        </div>

                        <div class="form-checkbox">
                            <input type="checkbox" class="analysis-checkbox" name="analysisType" value="Summary Table">
                        <label> 
                            <h5>Summary Table</h5>
                        </label>
                        </div>

                    </div>
                <button type="submit" class="upload-button">Continue</button>
            </form>
            <div class="summary" id="summary">
                <p><strong>File Selected:</strong> <span id="fileSelected">{{ result }}</span></p>
                <p><strong>Analysis Selected:</strong> <span id="analysisSelected" class="analysis-summary">{{ ', '.join(selected_options) }}</span></p>
                <p>Results:</p>
                {% if results %}
                    <ul>
                        {% for result_file in results %}
                            <li>
                                <a href="{{ url_for('download_file', analysisType='average_height', filename=result_file) }}" class="download">Download {{ result_file }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <pre>No image generated</pre>
                {% endif %}
            </div>
            
        </div>
        <script src="{{ url_for('static', filename = 'script.js') }}" type="text/javascript"></script>
    </main>
</body>
</html>